<%- include ('../../partials/header.ejs')  %>

<div class="main-wrapper">
    <div class="container h-100 ">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-5">
                <div class="card card-body">
                    <h4 class="mb-3">Create A New Account</h4>
                    <form action="/auth/signup" method="POST">

                        <div class="form-group">
                            <label for="username">
                                Enter Username
                            </label>
                            <input type="text" name="username" id="username" placeholder="username"
                                class="form-control <%= error.username ? 'is-invalid' : ''  %>  ">
                            <div class="invalid-feedback">
                                <%= error.username && error.username %>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email">
                                Enter Email
                            </label>
                            <input type="email" name="email" id="email" placeholder="email"
                                class="form-control <%= error.email ? 'is-invalid' : ''  %>  ">
                            <div class="invalid-feedback">
                                <%= error.email && error.email %>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="password">
                                Enter Password
                            </label>
                            <input type="password" name="password" id="password" placeholder="password"
                                class="form-control <%= error.password ? 'is-invalid' : ''  %>  ">
                            <div class="invalid-feedback">
                                <%= error.password && error.password %>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="confirmPassword">
                                Repeat Password
                            </label>
                            <input type="password" name="confirmPassword" id="confirmPassword"
                                placeholder="confirm password"
                                class="form-control <%= error.confirmPassword ? 'is-invalid' : ''  %>  ">
                            <div class="invalid-feedback">
                                <%= error.confirmPassword && error.confirmPassword %>
                            </div>
                        </div>

                        <input type="submit" class="btn btn-success btn-block" value="Signup">
                    </form>
                    <a href="/auth/login" class="my-3 text-center">Already Have An Account? Login Here</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ('../../partials/footer.ejs')  %>


</body>

</html>