<%- include('../Partials/header.ejs') %>

<%- include('../Partials/nav.ejs') %>
<h1><%= title %></h1>
<p>This is a dummy text.This is a dummy text.This is a dummy text.
    This is a dummy text.This is a dummy text.This is a dummy text.
    This is a dummy text.This is a dummy text.This is a dummy text.
</p>
<%= new Date().toISOString() %>

<% if(post.published) { %>
<h3>Title: <%= post.title %></h3>
<p> Body: <%= post.body %></p>
<% } else { %>
<p>Post is not yet published</p>
<%  } %>

<ul>

    <% for (let p of posts) { %>
    <li>
        <%= p.title %> By <%= p.author %>
    </li>
    <%  }%>

</ul>

<%- include('../Partials/footer.ejs') %>