<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Learning EJs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/help">Help</a></li>
    </ul>
    <h1><%= title %></h1>
    <p>This is a dummy text.This is a dummy text.This is a dummy text.
        This is a dummy text.This is a dummy text.This is a dummy text.
        This is a dummy text.This is a dummy text.This is a dummy text.
    </p>
    <%= new Date().toISOString() %>

    <% if(post.published) { %>
    <h3>Title: <%= post.title %></h3>
    <p> Body: <%= post.body %></p>
    <% } else { %>
    <p>Post is not yet published</p>
    <%  } %>

    <ul>

        <% for (let p of posts) { %>
        <li>
            <%= p.title %> By <%= p.author %>
        </li>
        <%  }%>

    </ul>
</body>

</html>